#hero{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

header {
    background-color: #0073CF;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
}

nav {
    background-color: #FFD700;
    font-family: 'Ubuntu', sans-serif;
}

h1, h2{
    color: #228B22;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

p {
    color: #228b22;
    font-family: 'Inter', sans-serif;
}

footer {
    font-family: 'Inter', sans-serif;
}

footer > div > a {
    color: black;
}

footer > div > p, footer > div > span {
    color: black;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;

}

header span {
    font-size: 1.2rem;
    color: Black;
}

.hamburger {
    background: none;
    border: none;
    color: #FFD700;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    display: block;
    padding: .8rem 10px;
    color: #0073CF;
    text-decoration: none;
    border-bottom: solid 1px #228B22;
}

.navigation li.current {
    background-color: #eee;
    ;
}

.navigation li a:hover {
    background-color: white;
}

footer {
    background-color: #eee;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: gray;
}

h2 {
    background-color: #ccc;
    color: #0073CF;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button {
    display: flex;
    flex-wrap: wrap;
    display: block;
    align-items: center;
    width: 100%;
}

div {
    text-align: center;
    justify-content: center;
    align-items: center;
    border: solid #ccc;
    border-radius: 10px;
    background-color: #ddd;
    width: 100%;
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

#town {
    color: black;
    font-size: larger;
}

.form {
    font-family: 'Inter', sans-serif;
    color: #808080;
    height: auto;
}

fieldset {
    width: 400px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
    display: block;
    margin: 15px 15px;
    width: 375px;
    height: 35px;
}

textarea {
    display: block;
    width: 375px;
    height: 90px;
    margin: 10px 10px;
}

.submit {
    width: 190px;
    margin: auto;
}

#flag {
    width: 100px;
    margin: auto;
    background-color: #FFD700;
    color: #0073CF;
    border-radius: 20%;
}

#dialogBox {
    width: 400px;
    color: #0073CF;
}

#dialogBox > div {
    background-color: white;
}

#dialogBox::backdrop {
    background-color: #0073CF;
}
