@media only screen and (min-width: 320px) {

    header,
    main,
    nav,
    footer {
        max-width: 900px;
        margin: 0 auto;
    }

    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    #events {
    }

    #weather {}
    }

    #forecast {
    }

    .spotlights {
        align-items: center;

        div {
            text-align: center;

            &>* {
                margin: 0.1rem;
            }
        }

        img {
            border: 1px solid #fff;
            box-shadow: 0 0 1rem #555;
        }

    h3 {
        font-size: 1.2rem;   }

}