:root {
    --color-primary: #96939B;
    --color-secondary: #BFBFBF;
    --color-text: #564256;
    --color-accent: #FC814A;
    --color-background: #E8E8E8;
    --primary-font: 'Montserrat', sans-serif;
    --title-font: 'Roboto', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 5px 0 5px 10px;
    align-items: end;
    border-bottom: solid 1px #96939B;
    column-gap: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #564256;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;

}

header span {
    font-size: 1.2rem;
    color: #564256;
}

.hamburger {
    background: none;
    border: none;
    color: #FC814A;
    cursor: pointer;
}

.hamburger::before {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::before {
    content: "\00D7";
}

.navigation {
    display: none;
}

.navigation.show {
    display: block;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation a {
    font-family: 'Montserrat', sans-serif;
    display: block;
    padding: .8rem 10px;
    color:#96939B;
    text-decoration: none;
    border-bottom: solid 1px #BFBFBF;
}

.navigation li.current {
    background-color: #FC814A;
    ;
}

h1 {
    margin-left: 10px;
    color: #FC814A;
    font-family: 'Montserrat', sans-serif;
}

.navigation li a:hover {
    background-color: #564256;
}

footer {
    background-color: #E8E8E8;
    padding: 1rem 10px;
    text-align: center;
}

.social {
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border: #ccc solid 1px;
    border-radius: 22px;
}

.social img {
    width: 22px;
    height: 22px;
}

.social a:hover {
    background-color: #ddd;
}

h2 {
    background-color: #564256;
    color: #E8E8E8;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button {
    display: flex;
    flex-wrap: wrap;
    display: block;
    align-items: center;
    width: 100%;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

textarea {
    display: block;
    width: 400px;
    height: 80px;
    margin: 10px 10px;
}

input[type="submit"],
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
    display: block;
    margin: 15px 15px;
    width: 400px;
    height: 35px;
}

.radio {
    display: block;
    margin: 10px 10px;
}

.form {
    font-family: 'Montserrat', sans-serif;
    color: #564256;
}

#cards > div {
    border: solid #BFBFBF;
    border-radius: 10px;
    height: 170px;
    align-content: center;
    background-color: #E8E8E8;
    animation-name: fade-and-move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    /* or a number like 3 */
    animation-direction: alternate;
    /* or normal, reverse, alternate-reverse */
    animation-timing-function: ease-in-out;
    /* or linear, ease, ease-in, ease-out */     
}

#cards > div > button {
    width: 100px;
    height: 40px;
    margin-left: 160px;
    background-color: #FC814A;
    font-family: 'Roboto', sans-serif;
}

.submit {
    width: 90px;
    margin-left: 150px;
}