@media screen and (max-width: 640px) {

header, footer {
    background-color: navy;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.navigation li {
    display: flex;
    flex-direction: row;
}

footer {
    text-align: center;
    padding: 20px;
}

header span {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

header img {
    margin: 15px 15px 0px 0px;
}

nav {
    background-color: black;
}

.navigation {
    list-style: none;
}

.navigation.show a{
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}

nav ul li a:hover {
    color: yellow;
}
#menu {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    padding: .5rem .75rem;
    color: white;
}

#menu::before {
    content: "☰";
}

#menu.show::before {
    content: "X";
}

main {
    font-family: 'Oxygen', sans-serif;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

section {
    text-align: center;
    margin: 5px;
    border: solid gray;
}

h2 {
    color: navy;
}

h3 {
    background-color: navy;
    color: white;
}

.show li {
    display: block;
}
}