@media screen and (min-width: 639px) {
header,
footer {
    background-color: navy;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

footer {
    text-align: center;
    padding: 20px;
}

header span {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

header img {
    margin: 15px 15px 0px 0px;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

nav ul li {
    flex: 1 1 100%;
}

div {
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 3fr 2fr;
}

.course {
    grid-column: 1/2;
    grid-row: 1/2;
}

.place {
    grid-column: 2/3;
    grid-row: 1/2;
}

.certificate {
    grid-column: 1/3;
    grid-row: 2/3;
}

section {
    box-shadow: 10px;
}

nav {
    background-color: black;
}

nav ul {
    list-style: none;
}

nav a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 1rem;
}

nav ul li a:hover {
    color: yellow;
}

main {
    font-family: 'Oxygen', sans-serif;
}

h2 {
    color: navy;
}

h3 {
    background-color: navy;
    color: white;
}

section {
    text-align: center;
    margin: 5px;
    border: solid gray;
}
}