@media only screen and (min-width: 320px) {
    header, main, nav, footer {
        max-width: 900px;
        margin: 0 auto;
    }
    header {
        grid-template-columns: 24px auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
    }

    .navigation ul {
        display: flex;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 50px 1fr 1fr;
    }

    h1 {
        grid-column: 1/4;
    }

    #aboutme {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    #photo {
        grid-column: 3/4;
        grid-row: 2/3;
    }

    .container {
        grid-column: 1/4;
        grid-row: 3/4;
    }

}